.App {
  text-align: center;
  font-family: 'Livvic', sans-serif;
  height: 100%;
}

.Topbar{
  font-family: 'Livvic', sans-serif;
  font-size: 2em;
}

.WeatherCard{
  font-size: 20px;
  margin: 0px;
  background-color: whitesmoke;
}

.card{
  margin: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}

.card-columns{
  margin: 80px;
}

.card-info{
  margin: 20px;
  text-align: justify;
}

.card-image{
  margin-bottom: 20px;
}

.weather-report{
  color: white;
  font-size: 15px;
}

body{
  background-color: whitesmoke;
  font-family: 'Livvic', sans-serif;
}

.NavCard{
  font-size: 1em;
}
