.App {
  text-align: center;
  font-family: 'Livvic', sans-serif;
  height: 100%;
}

.Topbar{
  font-family: 'Livvic', sans-serif;
  font-size: 2em;
}

.WeatherCard{
  font-size: 20px;
  margin: 0px;
  background-color: whitesmoke;
}

body{
  background-color: whitesmoke;
  font-family: 'Livvic', sans-serif;
}

.NavCard{
  font-size: 1em;
}
