.App {
  text-align: center;
  font-family: 'Livvic', sans-serif;
  height: 100%;
}

.topbar{
  font-family: 'Livvic', sans-serif;
  font-size: 2em;
}

.card{
  margin: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}

.card-columns{
  margin: 20px;
}

.card-info{
  margin: 20px;
  text-align: justify;
}

.card-image{
  margin-bottom: 20px;
}

.card-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.weather-report{
  color: white;
  font-size: 20px;
  margin-top: 25px;
}

.spinner{
  margin-top: 25px;
  margin-right: 20px;
}

.loading{
  color:whitesmoke;
  margin-top: 20px;
}
.cards-error{
  text-align: center;
  margin: 50px;
}

body{
  background-color: whitesmoke;
  font-family: 'Livvic', sans-serif;
}
